<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizzaria_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <a class="navbar-brand" href="#"> <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c1e1.png" width="100"height="50">La Pizzaria</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Sabores" asp-action="Index">Igredientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Tamanhos" asp-action="Index">Tamanhos</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Pizzas" asp-action="Index">Pizzas</a>
                    </li>                    
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <hr class="my-5">

    <footer class="bg-danger text-center text-white">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="home" asp-action="Index">Home</a>
            </div>
                <div class="col-sm">
                    <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="Pizzas" asp-action="Index">Pizzas</a>
                </div>
                <div class="col-sm">
                    <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="Sabores" asp-action="Index">Igredientes</a>
                 </div>
                <div class="col-sm">
                    <a class="nav-link text-light btn btn-dark" asp-area="" asp-controller="Tamanhos" asp-action="Index">Tamanhos</a>
                </div>
           </div>
            <section class="mb-2">
                <!-- Linkedin -->
                <a class="btn  btn-floating m-1" href="https://br.linkedin.com/in/felipe-tadeu-1094a720a" role="button">
                    <img src="https://imagensfree.com.br/wp-content/uploads/2022/06/icone-linkedin-preto-png-5-300x300.png" width="25" height="25" />
                </a>

                <!-- Github -->
                <a class="btn btn-floating m-1" href="https://github.com/fezzoka" role="button">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="25" height="25" />
                </a>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://github.com/fezzoka">Fezzoka</a>
        </div>
 
    </footer>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
